.contact-container {
  width: 100%;
  height: 721px;
  padding: 150px 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
}

.contact-title {
  width: 100%;
  height: 45px;
  font-weight: bold;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
  color: #254076;
  font-family: PoppinsBold;
}

.contactCards-container {
  width: 784px;
  height: 316px;
  display: flex;
  justify-content: space-between;
}

.contact-card {
  width: 362px;
  height: 316px;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(37, 64, 118, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 45px;
}

.card-icon {
  width: 50px;
  height: 50px;
}

.contactCard-title {
  width: 272px;
  height: 24px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #254076;
  font-family: "PoppinsBold";
}

.contactCard-text {
  width: 272px;
  height: 23px;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  color: #254076;
  font-family: "PoppinsRegular";
}

.contactCard-button {
  width: 222px;
  height: 54px;
  background: #163e75;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  font-family: "PoppinsBold";
}

.contactCard-button:hover {
  background-color: #0d2c56;
}

.contactCardButton-link {
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
}

.contactCardButton-link:visited {
  color: #ffffff;
}

/* Media Queries */
/* 
  ##Device = Most of the Smartphones Mobiles
  ##Screen = B/w till 480px
*/
@media all and (max-width: 480px) {
  .contact-container {
    width: 100%;
    height: 754px;
    padding: 50px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .contact-title {
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #254076;
  }

  .contactCards-container {
    width: 100%;
    height: 564px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .contact-card {
    width: 325px;
    height: 252px;
    padding: 25px;
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(37, 64, 118, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .contactCard-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #254076;
  }

  .contactCard-button {
    width: 222px;
    height: 51px;
    background: #163e75;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #ffffff;
  }
}

/* 
  ##Device = Big smartphones, small tablets
  ##Screen = B/w between 481px and 767px
*/
@media all and (min-width: 481px) and (max-width: 767px) {
  .contact-container {
    width: 100%;
    height: 754px;
    padding: 50px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .contact-title {
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #254076;
  }

  .contactCards-container {
    width: 100%;
    height: 564px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .contact-card {
    width: 325px;
    height: 252px;
    padding: 25px;
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(37, 64, 118, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .contactCard-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #254076;
  }

  .contactCard-button {
    width: 222px;
    height: 51px;
    background: #163e75;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #ffffff;
  }
}

/* 
  ##Device = Big tablets, small laptops
  ##Screen = B/w between 768px and 1024px
*/
@media all and (min-width: 768px) and (max-width: 1024px) {
  .contact-container {
    width: 100%;
    height: 458px;
    padding: 50px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .contact-title {
    font-weight: bold;
    font-size: 25px;
    line-height: 37px;
    text-align: center;
    color: #254076;
  }

  .contactCards-container {
    width: 100%;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .contact-card {
    width: 315px;
    height: 280px;
    padding: 35px;
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(37, 64, 118, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .card-icon {
    width: 38px;
    height: 38px;
  }

  .contactCard-title {
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #254076;
  }

  .contactCard-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #254076;
  }

  .contactCard-button {
    width: 222px;
    height: 53px;
    background: #163e75;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #ffffff;
  }
}
