.people-container {
  width: 100%;
  height: 621px;
  background: url("assets/images/backgrounds/People-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.people-contents {
  width: 100%;
  height: 337px;
  padding: 0px 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.people-title {
  width: 109px;
  height: 45px;
  font-size: 30px;
  line-height: 45px;
  text-align: right;
  color: #ffffff;
  font-family: PoppinsBold;
}

.people-text {
  width: 583px;
  height: 168px;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #ffffff;
}

.people-button {
  width: 258px;
  height: 64px;
  background: #ffffff;
  border-radius: 10px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #163e75;
  border: none;
  cursor: pointer;
  margin-bottom: 1px;
  font-family: "PoppinsBold";
}

.people-button:hover {
  background: #d9d9d9;
}

.peopleButton-link {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #163e75;
  text-decoration: none;
}

.peopleButton-link:visited {
  color: #163e75;
}

/* Media Queries */
/* 
  ##Device = Most of the Smartphones Mobiles
  ##Screen = B/w till 480px
*/
@media all and (max-width: 480px) {
  .people-container {
    width: 100%;
    height: 611px;
    background: url("assets/images/backgrounds/People-mobileBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .people-contents {
    width: 100%;
    height: 506px;
    padding: 50px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .people-title {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
  }

  .people-text {
    width: 100%;
    height: 275px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    color: #ffffff;
  }

  .people-button {
    width: 222px;
    height: 51px;
    background: #ffffff;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #163e75;
  }
}

/* 
  ##Device = Big smartphones, small tablets
  ##Screen = B/w between 481px and 767px
*/
@media all and (min-width: 481px) and (max-width: 767px) {
  .people-container {
    width: 100%;
    height: 611px;
    background: url("assets/images/backgrounds/People-mobileBackground.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .people-contents {
    width: 100%;
    height: 506px;
    padding: 50px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .people-title {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
  }

  .people-text {
    width: 100%;
    height: 275px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    color: #ffffff;
  }

  .people-button {
    width: 222px;
    height: 51px;
    background: #ffffff;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #163e75;
  }
}

/* 
  ##Device = Big tablets, small laptops
  ##Screen = B/w between 768px and 1024px
*/
@media all and (min-width: 768px) and (max-width: 1024px) {
  .people-container {
    width: 100%;
    height: 584px;
    background: url("assets/images/backgrounds/People-tabletBackground.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .people-contents {
    width: 100%;
    height: 422px;
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
  }

  .people-title {
    font-weight: bold;
    font-size: 25px;
    line-height: 37px;
    text-align: right;
    color: #ffffff;
  }

  .people-text {
    width: 100%;
    height: 161px;
    font-weight: 300;
    font-size: 15px;
    line-height: 22px;
    text-align: right;
    color: #ffffff;
  }

  .people-button {
    width: 248px;
    height: 63px;
    background: #ffffff;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #163e75;
  }
}
